{{ define "section_content" }}
<div class="section" id="content">
    {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }} &#183; {{ .WordCount }} words
    <div class="tag-container">
        {{ range $term := .Params.tags }}
        {{ with $.Site.GetPage (printf "/%s/%s" "tags" $term | urlize) }}
        <span class="tag">
            <a href="{{ .RelPermalink }}">
                {{ $term }}
            </a>
        </span>
        {{ end }}
        {{ end }}
    </div>
    <hr/>
    {{ .Content }}

    <hr />
    <div class="sharing" style="text-align: center;">
        <h3 style="text-align: center;">Share on...</h3>
        {{ $title := .Title }}
        {{ $url := printf "%s" .Permalink | absLangURL }}
        {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}
        <div id="sharing">
            <a href="http://www.facebook.com/sharer.php?u={{ $url }}" class="facebook" aria-label="share on Facebook">
                FB
            </a>
            &#183;
            <a href="http://twitter.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}" class="twitter" aria-label="share on Twitter">
                Twitter
            </a>
            &#183;
            <a href="mailto:?subject=Check%20out%20{{ $title }}.&body={{ $body }}" class="twitter" aria-label="share on Email">
                Email
            </a>
        </div>
    </div>
    
    <!-- {{ partial "subscribe_form.html"}} -->
    {{ template "_internal/disqus.html" . }}
</div>
{{ end }}

{{ define "bottom-menu" }}
<div class="section bottom-menu">
    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
</div>
{{ if .Params.hasMath}}{{ partial "math.html" . }}{{ end }}
{{ end }}